<!-- ====== About Section Start -->
<section id="why" class="bg-secondary pb-8 pt-20 dark:bg-dark-2 lg:pb-[70px] lg:pt-[120px]">
  <div class="container">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="flex flex-wrap items-center gap-16 justify-center">
        <div class="w-full px-4 lg:w-2/3">
          <div class="mb-12 lg:mb-0">
            <h2
              class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]"
            >
              Why RIVENFI?
            </h2>
            <p class="mb-4 text-base text-balance leading-relaxed ">
              Traditional credit scoring methods have long been used to evaluate an individual&#39;s
              creditworthiness, but they often fail to provide a comprehensive financial picture. These
              methods typically rely on historical data and financial transactions, overlooking
              important factors such as personal financial behaviors, psychometric insights, and real-
              time financial health. As a result, they can lead to inaccurate assessments and missed
              opportunities for both lenders and borrowers. At RivenFI, we aim to bridge this gap by
              incorporating advanced behavioral analytics and qualitative insights, offering a more
              holistic and accurate approach to credit scoring.
            </p>
            <p class="mb-10 text-base text-balance leading-relaxed ">
              Integrating behavioral science into actuarial models provides a more comprehensive
              understanding of risk by considering the psychological and behavioral factors
              influencing financial decisions. This approach can lead to more accurate predictions of
              risk default, ultimately improving risk management and underwriting processes.
              With the powerful blend of Actuarial methods and Behavioral science combined with a
              large language model, we deliver a comprehensive insight into an individual's capacity
              and commitment to repay a loan, ensuring more accurate and reliable lending
              decisions.
            </p>
          </div>
          <!-- Commented out link
          <a href="javascript:void(0)"
             class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border border-primary rounded-md px-7 bg-primary hover:bg-blue-dark hover:border-blue-dark">
             Know More
          </a>
          -->
        </div>
        <div class="w-auto ">
           <!-- <img src="/assets/about/model.png" alt="model" /> -->
              <div class="relative">
                  <div class="w-40 h-40 bg-white transform rotate-45 flex items-center justify-center shadow-2xl ">
                    <div class="font-semibold -rotate-45 text-center"> 
                      <span class="text-xl font-semibold text-primary">LLM</span>
                    </div>
                  </div>
                  <div class="w-40 h-40 bg-gradient transform rotate-45 flex items-center justify-center border shadow-2xl " >
                      <div class="font-semibold -rotate-45 text-center"> 
                        <span class="text-xl font-semibold text-white">Behavioral Science</span>
                      </div>
                  </div>
                  <div class="w-40 h-40 bg-primary transform rotate-45 flex items-center justify-center border shadow-2xl mb-8">
                      <div class="font-semibold -rotate-45 text-center"> 
                        <span class="text-xl font-semibold text-white">Actuarial Model</span>
                      </div>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About Section End -->
