---
import FaqList from "./FaqList.astro";

const faqsGeneral = [
  {
    title: "What is RIPAE?",
    description: "RIPAE is a peer-to-peer lending platform based in Canada that connects borrowers seeking short-term loans with lenders willing to offer financing under agreed conditions.",
  },
  {
    title: "How does peer-to-peer lending work?",
    description: "Peer-to-peer lending bypasses traditional financial institutions by allowing individuals to lend money directly to borrowers through our platform, facilitating both the application and funding processes.",
  },
  {
    title: "How does it work?",
    description: "You start by creating an account and selecting the type of user you will be, borrower or lender, after you will follow the journey and either apply for a loan as a borrower or create a loan proposal as a lender. Please note if you start as a borrower you are able to become a lender after your loan is paid and vice-versa.",
  },
  {
    title: "Who can use RIPAE?",
    description: "Any Canadian legal resident over the age of 18, or age of majority in their province, can use RIPAE to either borrow or lend money.",
  },
  {
    title: "Are there fees involved?",
    description: "Yes, borrowers pay a 0.75% fee for loan processing, and lenders pay a service fee of 0.25% on the amount earned from lending.",
  },
  {
    title: "What types of loans are available?",
    description: "We offer short-term loans with a 90-day term.",
  },
  {
    title: "How do I sign up?",
    description: "You will be able to sign up directly as a lender or borrower on our website by providing the necessary identification and financial details for verification.",
  },
  {
    title: "How is the interest rate determined?",
    description: "Interest rates are determined by the loan amount, borrower's risk assessment, and market conditions. Lenders may also set rates within platform guidelines.",
  },
  {
    title: "What measures do you take for security?",
    description: "We implement rigorous security protocols including data encryption, fraud detection systems, and secure operations to protect both borrowers and lenders.",
  },
  {
    title: "How can I contact customer support?",
    description: `Our customer support team is available via email, or online form which can be found under "Contact Us".`,
  },
]

const faqsInversor = [
  {
    "title": "How do I become a lender on RIPAE?",
    "description": "You will register as a lender by signing up on our platform, completing the verification process, and creating a loan proposal or browsing requests set by lenders."
  },
  {
    "title": "What is the minimum amount I can lend?",
    "description": "The minimum lending amount is $250, we encourage you to diversify your total funds across multiple loans."
  },
  {
    "title": "What kind of returns can I expect?",
    "description": "Returns vary based on loan terms and interest rates but are generally higher than traditional savings accounts due to the short-term nature, interest ranges from 4.5% to 8% for 90 days."
  },
  {
    "title": "How is risk managed?",
    "description": "We mitigate risks by thorough credit and affordability checks using state of the art technology including AI models on borrowers after they meet our initial borrower criteria and recommend diversifying your lending portfolio across multiple loans."
  },
  {
    "title": "Can I choose who to lend to?",
    "description": "Yes, you can select loans to invest in based on borrower profiles, and risk categories."
  },
  {
    "title": "What information can I get to make my decision?",
    "description": "You will get the purpose of the loan, the location of the borrower, the recommended interest rate based on the borrower’s risk assessment, term, employment status, and risk grade."
  },
  {
    "title": "What happens if a borrower defaults?",
    "description": "We have a collections process in place and work with third-party agencies to recover funds. However, please note that all loans carry risk."
  },
  {
    "title": "Are my funds protected?",
    "description": "While funds are not insured or guaranteed, we take significant measures to protect your money, we use various forms of technology to assess risk and set interest rates and risk grades as well as having a rigorous borrower selection process."
  },
  {
    "title": "How do I withdraw my earnings?",
    "description": "You will receive regular payments until the end of the loan term deposited directly to your bank account."
  },
  {
    "title": "Is there a fee for withdrawing funds?",
    "description": "No, there is no fee for withdrawing funds as they go directly to your account, but lenders are responsible for any applicable taxes on earned interest."
  }
]


const faqsBorrower = [
  {
    "title": "What are the eligibility criteria for obtaining a loan?",
    "description": "To qualify for a loan, you must be a Canadian resident, over age of majority in your province, have a bank account in Canada, and meet our creditworthiness standards, including a minimum credit score of 600, no collection items within the last year, no bankruptcy claims and stable income."
  },
  {
    "title": "How much can I borrow?",
    "description": "Loan amounts range from $250 to $2,000."
  },
  {
    "title": "How do I apply for a loan?",
    "description": "Simply sign up or log in to your account, complete the loan application form, and provide the necessary consents for us to get the information we need to perform the risk assessment."
  },
  {
    "title": "How quickly can I receive my funds?",
    "description": "Funds are typically going to be dispersed within 24-48 hours after loan approval and agreement completion between borrower and lender."
  },
  {
    "title": "Can I repay my loan early?",
    "description": "Yes, you can repay your loan early with no prepayment penalties."
  },
  {
    "title": "What happens if I miss a payment?",
    "description": "If you miss a payment, you may incur late fees, if you miss multiple payments your account could be reported to credit bureaus, affecting your credit score. If you go delinquent we may have to refer your loan to a credit collections agency. The lender could also proceed to file a claim on their provincial small claims court."
  },
  {
    "title": "Is my information safe?",
    "description": "Yes, we use advanced encryption and security measures to protect your personal and financial information."
  },
  {
    "title": "Can I have more than one loan at a time?",
    "description": "Unfortunately, we allow one active loan per borrower at a time."
  },
  {
    "title": "Who sets the interest rates on my loan?",
    "description": "Interest rates are primarily determined by the marketplace, influenced mainly by your risk assessment and market conditions. Lenders may adjust given rates within a permissible range, they would be able to lower it but not increase it beyond the assigned one."
  }
]

---
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const tabs = document.querySelectorAll('.tab-button');
    const contents = document.querySelectorAll('.tab-content');

    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        const targetId = tab.getAttribute('data-target');
        const targetContent = document.getElementById(targetId as any);

        contents.forEach(content => content.classList.add('hidden'));
        tabs.forEach(t => t.classList.remove('active'));

        tab.classList.add('active');
        targetContent?.classList.remove('hidden');
      });
    });
  });
</script>
<style>
  .tab-button:hover {
    @apply text-primary bg-white;
  }

   .tab-button.active {
    @apply text-secondary bg-primary;
  }

  .tab-button {
    @apply px-4 py-2 mx-1 text-sm font-medium  bg-secondary rounded focus:outline-none cursor-pointer;
  }
</style>
<!-- ====== Faq Section Start -->
<section
  id="faq"
  class="relative z-20 overflow-hidden bg-white dark:bg-dark pt-20 pb-8 lg:pt-[120px] lg:pb-[50px]"
>
  <div class="container mx-auto">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[520px] text-center">
          <span class="block mb-2 text-lg font-semibold text-primary">
            FAQ
          </span>
          <h2 class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]">
            Any Questions? Look Here
          </h2>
          <div class="w-[500px] max-w-full bg-secondary py-2 flex  justify-center rounded mt-8" role="tablist">
              <div class="tab-button w-32 active" data-target="general">General</div>
              <div class="tab-button  w-32 " data-target="investor">Investor</div>
              <div class="tab-button  w-32 " data-target="borrower">Borrower</div>
            </div>
          </div>
      </div>
    </div>
    <div id="general" class="-mx-4 flex flex-wrap tab-content">
        <FaqList faqs={faqsGeneral} />
    </div>
    <div id="investor" class="-mx-4 flex flex-wrap tab-content hidden">
        <FaqList faqs={faqsInversor} />
    </div>
    <div id="borrower" class="-mx-4 flex flex-wrap tab-content hidden">
        <FaqList faqs={faqsBorrower} />
    </div>
  </div>

  <div>
    <span class="absolute top-4 left-4 -z-[1]">
      <svg width="48" height="134" viewBox="0 0 48 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45.6673" cy="132" r="1.66667" transform="rotate(180 45.6673 132)" fill="#13C296" />
        <circle cx="45.6673" cy="117.333" r="1.66667" transform="rotate(180 45.6673 117.333)" fill="#13C296" />
        <circle cx="45.6673" cy="102.667" r="1.66667" transform="rotate(180 45.6673 102.667)" fill="#13C296" />
        <circle cx="45.6673" cy="88.0001" r="1.66667" transform="rotate(180 45.6673 88.0001)" fill="#13C296" />
        <circle cx="45.6673" cy="73.3335" r="1.66667" transform="rotate(180 45.6673 73.3335)" fill="#13C296" />
        <circle cx="45.6673" cy="45.0001" r="1.66667" transform="rotate(180 45.6673 45.0001)" fill="#13C296" />
        <circle cx="45.6673" cy="16.0001" r="1.66667" transform="rotate(180 45.6673 16.0001)" fill="#13C296" />
        <circle cx="45.6673" cy="59.0001" r="1.66667" transform="rotate(180 45.6673 59.0001)" fill="#13C296" />
        <circle cx="45.6673" cy="30.6668" r="1.66667" transform="rotate(180 45.6673 30.6668)" fill="#13C296" />
        <circle cx="45.6673" cy="1.66683" r="1.66667" transform="rotate(180 45.6673 1.66683)" fill="#13C296" />
        <circle cx="31.0013" cy="132" r="1.66667" transform="rotate(180 31.0013 132)" fill="#13C296" />
        <circle cx="31.0013" cy="117.333" r="1.66667" transform="rotate(180 31.0013 117.333)" fill="#13C296" />
        <circle cx="31.0013" cy="102.667" r="1.66667" transform="rotate(180 31.0013 102.667)" fill="#13C296" />
        <circle cx="31.0013" cy="88.0001" r="1.66667" transform="rotate(180 31.0013 88.0001)" fill="#13C296" />
        <circle cx="31.0013" cy="73.3335" r="1.66667" transform="rotate(180 31.0013 73.3335)" fill="#13C296" />
        <circle cx="31.0013" cy="45.0001" r="1.66667" transform="rotate(180 31.0013 45.0001)" fill="#13C296" />
        <circle cx="31.0013" cy="16.0001" r="1.66667" transform="rotate(180 31.0013 16.0001)" fill="#13C296" />
        <circle cx="31.0013" cy="59.0001" r="1.66667" transform="rotate(180 31.0013 59.0001)" fill="#13C296" />
        <circle cx="31.0013" cy="30.6668" r="1.66667" transform="rotate(180 31.0013 30.6668)" fill="#13C296" />
        <circle cx="31.0013" cy="1.66683" r="1.66667" transform="rotate(180 31.0013 1.66683)" fill="#13C296" />
        <circle cx="16.3333" cy="132" r="1.66667" transform="rotate(180 16.3333 132)" fill="#13C296" />
        <circle cx="16.3333" cy="117.333" r="1.66667" transform="rotate(180 16.3333 117.333)" fill="#13C296" />
        <circle cx="16.3333" cy="102.667" r="1.66667" transform="rotate(180 16.3333 102.667)" fill="#13C296" />
        <circle cx="16.3333" cy="88.0001" r="1.66667" transform="rotate(180 16.3333 88.0001)" fill="#13C296" />
        <circle cx="16.3333" cy="73.3335" r="1.66667" transform="rotate(180 16.3333 73.3335)" fill="#13C296" />
        <circle cx="16.3333" cy="45.0001" r="1.66667" transform="rotate(180 16.3333 45.0001)" fill="#13C296" />
        <circle cx="16.3333" cy="16.0001" r="1.66667" transform="rotate(180 16.3333 16.0001)" fill="#13C296" />
        <circle cx="16.3333" cy="59.0001" r="1.66667" transform="rotate(180 16.3333 59.0001)" fill="#13C296" />
        <circle cx="16.3333" cy="30.6668" r="1.66667" transform="rotate(180 16.3333 30.6668)" fill="#13C296" />
        <circle cx="16.3333" cy="1.66683" r="1.66667" transform="rotate(180 16.3333 1.66683)" fill="#13C296" />
        <circle cx="1.66732" cy="132" r="1.66667" transform="rotate(180 1.66732 132)" fill="#13C296" />
        <circle cx="1.66732" cy="117.333" r="1.66667" transform="rotate(180 1.66732 117.333)" fill="#13C296" />
        <circle cx="1.66732" cy="102.667" r="1.66667" transform="rotate(180 1.66732 102.667)" fill="#13C296" />
        <circle cx="1.66732" cy="88.0001" r="1.66667" transform="rotate(180 1.66732 88.0001)" fill="#13C296" />
        <circle cx="1.66732" cy="73.3335" r="1.66667" transform="rotate(180 1.66732 73.3335)" fill="#13C296" />
        <circle cx="1.66732" cy="45.0001" r="1.66667" transform="rotate(180 1.66732 45.0001)" fill="#13C296" />
        <circle cx="1.66732" cy="16.0001" r="1.66667" transform="rotate(180 1.66732 16.0001)" fill="#13C296" />
        <circle cx="1.66732" cy="59.0001" r="1.66667" transform="rotate(180 1.66732 59.0001)" fill="#13C296" />
        <circle cx="1.66732" cy="30.6668" r="1.66667" transform="rotate(180 1.66732 30.6668)" fill="#13C296" />
        <circle cx="1.66732" cy="1.66683" r="1.66667" transform="rotate(180 1.66732 1.66683)" fill="#13C296" />
      </svg>
    </span>
    <span class="absolute bottom-4 right-4 -z-[1]">
      <svg width="48" height="134" viewBox="0 0 48 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="45.6673" cy="132" r="1.66667" transform="rotate(180 45.6673 132)" fill="#3758F9" />
        <circle cx="45.6673" cy="117.333" r="1.66667" transform="rotate(180 45.6673 117.333)" fill="#3758F9" />
        <circle cx="45.6673" cy="102.667" r="1.66667" transform="rotate(180 45.6673 102.667)" fill="#3758F9" />
        <circle cx="45.6673" cy="88.0001" r="1.66667" transform="rotate(180 45.6673 88.0001)" fill="#3758F9" />
        <circle cx="45.6673" cy="73.3333" r="1.66667" transform="rotate(180 45.6673 73.3333)" fill="#3758F9" />
        <circle cx="45.6673" cy="45.0001" r="1.66667" transform="rotate(180 45.6673 45.0001)" fill="#3758F9" />
        <circle cx="45.6673" cy="16.0001" r="1.66667" transform="rotate(180 45.6673 16.0001)" fill="#3758F9" />
        <circle cx="45.6673" cy="59.0001" r="1.66667" transform="rotate(180 45.6673 59.0001)" fill="#3758F9" />
        <circle cx="45.6673" cy="30.6668" r="1.66667" transform="rotate(180 45.6673 30.6668)" fill="#3758F9" />
        <circle cx="45.6673" cy="1.66683" r="1.66667" transform="rotate(180 45.6673 1.66683)" fill="#3758F9" />
        <circle cx="31.0006" cy="132" r="1.66667" transform="rotate(180 31.0006 132)" fill="#3758F9" />
        <circle cx="31.0006" cy="117.333" r="1.66667" transform="rotate(180 31.0006 117.333)" fill="#3758F9" />
        <circle cx="31.0006" cy="102.667" r="1.66667" transform="rotate(180 31.0006 102.667)" fill="#3758F9" />
        <circle cx="31.0006" cy="88.0001" r="1.66667" transform="rotate(180 31.0006 88.0001)" fill="#3758F9" />
        <circle cx="31.0008" cy="73.3333" r="1.66667" transform="rotate(180 31.0008 73.3333)" fill="#3758F9" />
        <circle cx="31.0008" cy="45.0001" r="1.66667" transform="rotate(180 31.0008 45.0001)" fill="#3758F9" />
        <circle cx="31.0008" cy="16.0001" r="1.66667" transform="rotate(180 31.0008 16.0001)" fill="#3758F9" />
        <circle cx="31.0008" cy="59.0001" r="1.66667" transform="rotate(180 31.0008 59.0001)" fill="#3758F9" />
        <circle cx="31.0008" cy="30.6668" r="1.66667" transform="rotate(180 31.0008 30.6668)" fill="#3758F9" />
        <circle cx="31.0008" cy="1.66683" r="1.66667" transform="rotate(180 31.0008 1.66683)" fill="#3758F9" />
        <circle cx="16.3341" cy="132" r="1.66667" transform="rotate(180 16.3341 132)" fill="#3758F9" />
        <circle cx="16.3341" cy="117.333" r="1.66667" transform="rotate(180 16.3341 117.333)" fill="#3758F9" />
        <circle cx="16.3341" cy="102.667" r="1.66667" transform="rotate(180 16.3341 102.667)" fill="#3758F9" />
        <circle cx="16.3341" cy="88.0001" r="1.66667" transform="rotate(180 16.3341 88.0001)" fill="#3758F9" />
        <circle cx="16.3338" cy="73.3333" r="1.66667" transform="rotate(180 16.3338 73.3333)" fill="#3758F9" />
        <circle cx="16.3338" cy="45.0001" r="1.66667" transform="rotate(180 16.3338 45.0001)" fill="#3758F9" />
        <circle cx="16.3338" cy="16.0001" r="1.66667" transform="rotate(180 16.3338 16.0001)" fill="#3758F9" />
        <circle cx="16.3338" cy="59.0001" r="1.66667" transform="rotate(180 16.3338 59.0001)" fill="#3758F9" />
        <circle cx="16.3338" cy="30.6668" r="1.66667" transform="rotate(180 16.3338 30.6668)" fill="#3758F9" />
        <circle cx="16.3338" cy="1.66683" r="1.66667" transform="rotate(180 16.3338 1.66683)" fill="#3758F9" />
        <circle cx="1.66732" cy="132" r="1.66667" transform="rotate(180 1.66732 132)" fill="#3758F9" />
        <circle cx="1.66732" cy="117.333" r="1.66667" transform="rotate(180 1.66732 117.333)" fill="#3758F9" />
        <circle cx="1.66732" cy="102.667" r="1.66667" transform="rotate(180 1.66732 102.667)" fill="#3758F9" />
        <circle cx="1.66732" cy="88.0001" r="1.66667" transform="rotate(180 1.66732 88.0001)" fill="#3758F9" />
        <circle cx="1.66732" cy="73.3333" r="1.66667" transform="rotate(180 1.66732 73.3333)" fill="#3758F9" />
        <circle cx="1.66732" cy="45.0001" r="1.66667" transform="rotate(180 1.66732 45.0001)" fill="#3758F9" />
        <circle cx="1.66732" cy="16.0001" r="1.66667" transform="rotate(180 1.66732 16.0001)" fill="#3758F9" />
        <circle cx="1.66732" cy="59.0001" r="1.66667" transform="rotate(180 1.66732 59.0001)" fill="#3758F9" />
        <circle cx="1.66732" cy="30.6668" r="1.66667" transform="rotate(180 1.66732 30.6668)" fill="#3758F9" />
        <circle cx="1.66732" cy="1.66683" r="1.66667" transform="rotate(180 1.66732 1.66683)" fill="#3758F9" />
      </svg>
    </span>
  </div>
</section>
<!-- ====== Faq Section End -->