<section id="howItWorks" class="w-full dark:bg-dark-2">
<div  class="container mx-auto pt-12">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
          <span class="mb-2 block text-lg font-semibold text-primary dark:text-white">
           Process</span
          >
          <h2
            class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
          >
            How it works
          </h2>
          <!-- <p class="text-base text-body-color dark:text-dark-6">
            There are many variations of passages of Lorem Ipsum available
            but the majority have suffered alteration in some form.
          </p> -->
        </div>
      </div>
    </div>
  <div class="grid gap-12 dark:text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <img
        src="/assets/howItWorks/form3.png"
        width="500"
        alt="Step 1"
        class="rounded-xl border"
      />
      <div class="space-y-4">
        <h3 class="text-2xl font-bold">Complete intake form</h3>
        <p class="text-muted-foreground">
          The potential borrowers create an account and fill their personal information.
        </p>
      </div>
    </div>
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <div class="order-2 md:order-1 space-y-4">
        <h3 class="text-2xl font-bold">Complete KYC</h3>
        <p class="text-muted-foreground">
          We validate their identity to be sure they are real people and they are who they say they are.
        </p>
      </div>
      <img
        src="/assets/howItWorks/kyc.png"
        width="500"
        alt="Step 2"
        class="order-1 md:order-2 rounded-xl border"
      />
    </div>
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <img
        src="/assets/howItWorks/bankverification.png"
        width="400"
        alt="Step 3"
        class=" rounded-xl border"
      />
      <div class="space-y-4">
        <h3 class="text-2xl font-bold">Bank account verification</h3>
        <p class="text-muted-foreground">Potential borrowers connect to their bank account and we obtain and analize their historical data such as income, debts, etc.</p>
      </div>
    </div>
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <div class="order-2 md:order-1 space-y-4">
        <h3 class="text-2xl font-bold">Interview with our AI Analyst</h3>
        <p class="text-muted-foreground">
            This is where magic happens, our AI analyst makes questions based on the user's financial data to obtain a more holistic picture
            about them and their behaviors.
        </p>
      </div>
      <img
          src="/assets/howItWorks/chat2.png"
        width="600"
        alt="Step 4"
        class="rounded-xl order-1 md:order-2 border"
      />
    </div>
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <img
        src="/assets/howItWorks/report-icon.png"
        width="400"
        alt="Step 5"
        class="rounded-xl border"
      />
      <div class="space-y-4">
        <h3 class="text-2xl font-bold">Get Report</h3>
        <p class="text-muted-foreground">We will send a detailed report to our partners so they can take an informed decision to proceed or reject a loan.</p>
      </div>
    </div>
    <hr />
  </div>
</div>
</section>