<!-- ====== About Section Start -->
<section id="about" class="pb-8 pt-20 dark:bg-dark-2 lg:pb-[70px] lg:pt-[120px]">
  <div class="container">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="flex flex-wrap items-center gap-16 justify-center">
           <div class="w-auto ">
            <img src="/assets/moreThan/thinking.svg" alt="model" width="300" />

        </div>
        <div class="px-4 w-2/3 max-sm:w-full dark:text-white">
          <div class="mb-12 lg:mb-0">
            <h2
              class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]"
            >
              More than a fad
            </h2>
            <p class="text-base leading-relaxed ">
              "Behavioral economics is the study of judgment and choice; it looks at how we make decisions. It was created as an alternative approach to the economic models that tried to explain the behavior of consumers, but which presented certain deficiencies as anomalies — because they didn’t take into account the human factor" (p. 4).
            </p>
             <p class="mb-4 text-sm text-semibold leading-relaxed font-semibold italic">
               EY-Parthenon. (2021). Behavioral economics applied to the financial sector. Ernst & Young Global Limited.
             </p>
            <p class="text-base leading-relaxed ">
             "The risk is defined as the 'probability of default' and risk management includes all the necessary strategies or practices to mitigate, assess and manage this probability. There is an ongoing debate about rational models to compute and manage this probability of default accurately. The rational models are primarily based on rationality assumption and discard the role of social and behavioral aspects in assessment of risk in financial institutions, on contrary many researchers are justifying the role of human behavior, psychological biases, and non-financial factors in accurate risk assessment" (p. 2).
            </p>
             <p class="mb-4 text-sm leading-relaxed font-semibold italic">
                Kumar, S., & Meena, V. K. (2021). Application of behavioural finance in risk management: A review by using PRISMA framework. International Journal of Advanced Research in Commerce, Management & Social Science, 4(3), 1-12.
             </p>
             <p class="text-base leading-relaxed ">
                Psychometric tests that recognize the financial behavior of individuals are implemented in over 50 countries worldwide, capable of predicting the financial decisions of individuals with 91% accuracy.
            </p>
            <p class="text-sm mb-4 text-semibold leading-relaxed font-semibold italic">
             Source: LenddoEFL.
            </p>
             <p class="text-base leading-relaxed ">
                Behavioral data and advance analytics have been proven to decrease default rates by up to 28% and increase profits by up to 17%.
            </p>
          </div>
          <!-- Commented out link
          <a href="javascript:void(0)"
             class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border border-primary rounded-md px-7 bg-primary hover:bg-blue-dark hover:border-blue-dark">
             Know More
          </a>
          -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About Section End -->
